body{
    text-align: center;
    text-decoration-color: #819ff9;
}

#h1{
    color: #819ff9;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color:#d95980 ;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: chartreuse;
}


.score-container{
    display: flex;
    justify-content: center;
}



#scoreboard {
    height: 150px;
    width: 200px;
    background-color: #92a9ef;
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius:10%;
    
}

#scores {
    list-style-type: none;
    padding: 0;
}

#scores li {
    margin-bottom: 5px;
}


